<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离 
注意：使用mapper代理方法开发，namespace有特殊重要的作用
-->
<mapper namespace="com.neuedu.dao.gyl.ArticleAddMapper">
	<!-- 文章分类查询 -->
	<select id="getspecial" parameterType="special" resultType="special">
		select * from fly_special_column
	</select>
	<!-- 飞吻数类查询 -->
	<select id="getkiss" parameterType="kiss" resultType="kiss">
		select * from fly_kiss
	</select>
	<!-- 新增文章 -->
	<insert id="publishAnArticle" parameterType="release">
		insert into fly_release 
		(title,content,user_id,view_count,special_column_id,fly_kiss_id) 
		values (#{title},#{content},#{user_id},#{view_count},#{special_column_id},#{fly_kiss_id})
	</insert>
	<!-- 查询后台“我发的帖子” -->
	<select id="postrelease" parameterType="int" resultType="release">
		select 
			r.id,r.title,r.view_count,r.create_time 
		from 
			fly_release r,fly_customer c 
		<where>
			r.user_id = c.id and c.id = #{value}
		</where>
	</select>
	<!-- 获取后台用户文章总条数 -->
	<select id="getreleasecount" parameterType="int" resultType="int">
		select count(*) from fly_release r,fly_customer c where  r.user_id = c.id and c.id = #{value}
	</select>
	<!-- 获取文章信息 -->
	<select id="getsumcontext" parameterType="int" resultType="release">
		SELECT
			r.id,
			r.title,
			r.content,
			k.kiss_num,
			r.fly_kiss_id,
			c.avatar,
			c.nick_name,
			l.level_name,
			s.special_column
		FROM
			fly_release r
			JOIN fly_kiss k ON r.fly_kiss_id = k.id
			JOIN fly_special_column s ON r.special_column_id = s.id
			JOIN fly_customer c ON r.user_id = c.id
			JOIN fly_level l ON c.vip_level_id = l.id 
		WHERE
			r.id = #{value} 
			AND r.static = 0 
		GROUP BY
			r.id,
			r.title,
			r.content,
			k.kiss_num,
			r.fly_kiss_id,
			c.avatar,
			c.nick_name,
			l.level_name,
			s.special_column
			LIMIT 1
	</select>
</mapper>


