<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离 
注意：使用mapper代理方法开发，namespace有特殊重要的作用
-->
<mapper namespace="com.neuedu.dao.CustomerMapper">
	<!-- 登陆，通过账号和密码或者邮箱和密码查询用户 -->
	<select id="getCustomer" parameterType="customer" resultType="customer">
		select * from fly_customer c,fly_level l 
		<where>
			c.vip_level_id=l.id
			<if test="username !=null">
			and username=#{username}
			</if>
			<if test="email !=null">
			and email=#{email}
			</if>
			<if test="password!=null">
			and password=#{password}
			</if>
			and status = 1
		</where>
	</select>
	
</mapper>


